@*@model List<User>*@
@{
   UserViewModel userViewModel = Model;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Blog List</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>FullName</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in userViewModel.Users)
                            {
                                <tr>
                                    <td >@item.FullName</td>
                                    <td >@item.UserName</td>
                                    <td >@item.Email </td>
                                    <td>
                                        <a class="btn btn-warning" asp-action="ChangeRol" asp-route-id="@item.Id">Change Rol</a>
                                        <a class="btn btn-warning" asp-action="ChangePassword" asp-route-id="@item.Id">Change Password</a>
                                        <a class="btn btn-success" asp-action="IsActive" asp-route-id="@item.Id">IsActive</a>
                                        <a class="btn btn-success" asp-action="IsDeactive" asp-route-id="@item.Id">IsDeactive</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@*pagination*@
<div class="row justify-content-center">
        <nav aria-label="...">
            <ul class="pagination">
                @if (ViewBag.CurrentPage == 1)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                }
                else
                {
                    <li class="page-item ">
                        <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.CurrentPage-1)" tabindex="-1">Previous</a>
                    </li>
                }

                @for (int i = 1; i <= ViewBag.TotalPage; i++)
                {
                    <li class="page-item @(ViewBag.CurrentPage == i ? "active":"")" style="@(ViewBag.CurrentPage == i?"pointer-events:none":"")">
                        <a class="page-link" asp-action="Index" asp-route-page="@i">
                            @i<span class="sr-only">(current)</span>
                        </a>
                    </li>
                }

                @if (ViewBag.CurrentPage == ViewBag.TotalPage)
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                }
                else
                {

                    <li class="page-item">
                        <a class="page-link" asp-action="Index"  asp-route-page="(@ViewBag.CurrentPage+1)">Next</a>
                    </li>
                }

            </ul>
        </nav>
    </div>

@*@section Scripts{
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    $(document).ready(function () {
        $(".delete-item").click(function (ev) {
            ev.preventDefault();
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    let link = $(this).attr("href")
                    fetch(link).then(response => response.json()).then(data => {
                        //  location.reload(true);
                        if (data.status == 200) {
                            Swal.fire(
                                'Deleted!',
                                'Your file has been deleted.',
                                'success'
                            )
                        }
                        else {
                            Swal.fire(
                                'Error!',
                                'Your file not Found.',
                                'Failed'
                            )
                        }
                    })
                }
            })
        })
    })
</script>
}
*@